* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    /*background-image: url('https://www.hdwallpapers.in/walls/galaxy_universe-normal.jpg');*/
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 20px;
  font-size: 25px;
  color: #AD4A21;
}
